.tab1header{
	display: flex;
	justify-content: space-around;

	cursor: pointer;

	background-color: rgb(88, 82, 83);


	
}

.tab1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: white;

	text-align: center;

	border: 5px solid white;

	height: 100%;
	width: 33%;
}