<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">   
    <title>filesystem</title>
</head>
<body>
    <fieldset>
        <legend>LOG IN</legend>
        <form action="/tables/add" method="POST">
        <!--POST DATA BY HTML-->
        <input id="loginID" name="ID" type="text" placeholder="ID"/>
        <input id="loginPW" name="PW" type="password" placeholder="PW"/>
        <button id="loginBTN" type="submit">사용자 정보 저장하기</button>
        </form>
        <button id="checkBTN" type="button">사용자 정보 확인하기</button>
    </fieldset>
    <button class="fileOpen">파일 불러오기</button>
    <!--pre tag는 미리 정의된 text 등을 그대로 표현하고자 할때 사용-->
    <pre class="textArea" contenteditable></pre>
    <button class="fileSave">파일 저장하기</button>
    <button class="fileSaveAs">다른 이름으로 파일 저장하기</button>
</body>
<script src="./index.js">
</script>
</html>